<div id="header">
  <ul id="navbar">
    <li {% if page.url=="/" %} id="active" {% endif %}>
      <a href="{{ "/" | relative_url }}">首页</a>
    </li>

    <li {% if page.url contains "/news" %} id="active" {% endif %}>
      <a href="{{ site.posts.first | relative_url }}">消息</a>
    </li>

    <li {% if page.url contains "/download" %} id="active" {% endif %}>
      <a href="{{ "/download" | relative_url }}">下载</a>
    </li>

    <li {% if page.url contains "/about" %} id="active" {% endif %}>
      <a href="{{ "/about" | relative_url }}">关于</a>
    </li>

    <li><a href="{{ site.issues_link }}"  target="_blank">反馈</a></li>

    <li><a href="{{ site.url }}/feed.xml" target="_blank">RSS</a></li>

  </ul>

  <a href="https://gitee.com/RubyMetric/RubyInstaller.cn" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;"
      src="https://gitee.com/RubyMetric/RubyInstaller.cn/widgets/widget_1.svg" alt="Fork me on Gitee"></a>
</div>
