<div id="intro-container">

  <div class="container clear">
    <div id="intro" class="span-21">

      <p id="intro-p1"><b>Ruby</b> 是一门开源的动态编程语言，注重简洁和效率。自1995年发布以来，深受程序员的喜爱，被 <i>GitHub</i>、<i>Airbnb</i>、<i>Shopify</i> 等科技商业巨头信赖。

      <h1><img alt="Microsoft Logo" src="{{ "/assets/images/Microsoft_logo.svg" | relative_url }}"  width=4% height=4%> Windows上安装 <span id="ruby-in-intro">Ruby💎</span>的<span id="best-way-in-intro">最佳方式</span>!</h1>

      <p id="intro-p2"><b>RubyInstaller</b> 项目起源于2010年，在2017年进行全面的升级，其已成为Windows上安装Ruby的事实标准。独立的安装包程序包含了Ruby虚拟机、MSYS2、以及文档等。</p>

      <div>
        <div id="download_btn">
          <a href="{{ site.data.downloads[0].href }}">
            {% assign latest_ruby_name = site.data.downloads[0].name | split: " " %}
            <span>下载最新 v{{ latest_ruby_name[1] }}</span>
          </a>
        </div>

        <div id="download_btn">
          <a href="{% post_url news/2022-05-10-rbenv-for-windows %}">
            <span>推荐使用 rbenv</span>
          </a>
        </div>

        <div id="PageCounter" style="display: none;"> 浏览量 </div>

      </div>
    </div>

    <div id="code" class="span-6 last intro-code-example">
      {% include code.html %}
    </div>
  </div>
</div>
