/* --------------------------------------------------------------
* File          : site.css
* Authors       : Holger Arndt <github@kjarrigan.de>
*                 Lars Kanis <lars@greiz-reinsdorf.de>
*                 Aozan Zeng <ccmywish@qq.com>
* Created on    : <2021-01-19>
* Last modified : <2023-05-17>
*
* site:
*
*   本网站具体的各种样式设置
*
* ----------
* Changelog:
*
* ~> Unreleased
* <2023-05-17> 添加about页面Contributors样式
*
* ~> v2.0.0
* <2023-01-24> 完整的重构，尽管内部使用的不是新技术，但仍然使GUI相当现代化
*
* ~> v1.0.0
* <2022-12-02> 大调整导航栏，下载页，段内<code>配色
*
* ~> v0.2.0
* <2021-01-22> 第一次初始调整UI
*
* ~> v0.1.0
* <2021-01-19> Forked from rubyinstaller.org-website
* -------------------------------------------------------------*/

/*******************************************************************************
* HTML基本元素样式
*
*******************************************************************************/
h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
        /* 以前是 color: #111; 太黑了，换掉 */
        color: #ff9e48;

        margin: 1.3em 0px 0.6em 0px;
}

#home_right_content h2 {
        text-align: center;
        font-size: 25.5px;
}


body {
        padding-top: 0px;
        padding-bottom: 0px;
        border:0px;
        margin:0px;
        font-size: 12px;
        line-height: 1.5;
        color: #333333;
        background-color: #ececd8;
}
/* 全站所有链接 */
a, a:visited {
        color: #c71d23;
        text-decoration: none;
        transition: all 0.25s;
        cursor: pointer;
}
a:hover {
        color: #8e1207;
        text-decoration: none;
}

/* 文章的文字 */
p, div.news_item p {
        font-size: 16px;      /* 全站字体大小 */
        margin-bottom: 16px;  /* 每段文字之间的距离，此值设置为与Github Readme一样 */
        line-height: 1.55em;  /* 段落的高度，这个值一定要好好选择，因为中文行高一定要较大才能看清楚 */
}

p b {
        padding-left: 2px;
        padding-right: 2px;
}

p strong {
        padding-left: 2px;
        padding-right: 2px;
}

p a {
        padding: 0 2px;
        /* 略小于常规段落字体16px */
        font-size: 15px;
}

/* markdown中的 > */
blockquote {
        margin:1.3em;
        color:#666;
        /* font-style:italic; */
}


thead th {
background-color: #d1eafa;
border-bottom: 1px solid #B4D8EF}

th, td, caption {padding:4px 10px 4px 10px;}

tr.even td {
background-color: #f1f1f1;}



/*******************************************************************************
* 首页布局(home) layout
*
* (1) header，页眉，即网站全局导航栏navbar
* (2) intro-container，即介绍栏
* (3) main
*     (3.1) home_left_content  左侧文章概要
*     (3.2) home_right_content 右侧其他项目介绍
* (4) footer，页脚
*
*
* 文章页(page) layout
*
* (1) header，页眉，即网站全局导航栏navbar
* (2) main
*     (2.1) page_left_content  左侧文章导航栏
*     (2.2) page_right_content 右侧具体文章内容
* (3) footer，页脚
*
*******************************************************************************/

/*
取消首页顶部的原有banner
#page {
        background: #ffffff url(../images/bg.png) repeat-x top left;
}

取消首页顶部蓝色栏
#page-sub {
        background: #ffffff url(../images/bg_sub.png) repeat-x top left;
}
*/

div#main h2 {
        margin: 0 0 10px 0;
}

div#header {
        background-color: #f8f0d6;
        /* Jekyll doc的header为80，但是我们想设置更低一点。该值原为85 */
        height: 65px;
}

div#home_left_content {
        padding-bottom: 20px;
        padding-top: 20px;
}

div#home_right_content {
        padding-bottom: 20px;
        padding-top: 20px;
}


/* 新闻/关于的左边导航栏 */
div#page_left_content {
        /* 这个地方如果用padding-top 会导致导航栏上面多一点内容，用margin-top则不会
           另外，这个值是和右边文章栏的padding-top值一样的
         */
        margin-top: 32px;
        padding-bottom: 20px;
        background: #f8f0d6;
        height: 390px;
        width:  220px;
        /*
        visible: 溢出的内容直接显式出来
        auto:   如果有溢出的内容，则自动显式滚动栏，否则不显示滚动栏
        scroll: 强制显示滚动栏
        */
        overflow-y: auto;
        overflow-x: hidden;

        /* 非常无语，scrollbar-color, scrollbar-width 等都不支持 */

        border: 2.8px solid #eab308;
        border-radius: 8px;
}

/*
Ref: https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar
Edge控制scrollbar
*/
div#page_left_content::-webkit-scrollbar {
        border-radius: 8px; /* track的边框，保持与上面的这个导航栏边框一致 */
        width:  8px; /* 滚动栏的宽度 */
        height: 3px; /* 这个值在竖直的滚动栏中似乎完全没用 */
        background-color: #f8f0d6; /* or add it to the track */
}
/* 这个就是scrollbar我们看到的可以上下滑动的handle */
div#page_left_content::-webkit-scrollbar-thumb {
        border-radius: 8px; /* handle的边框 */
        background: #eab308;
}


/* 右边文章区域 */
div#page_right_content {
        padding: 32px 0 20px 40px;
}

div#page_right_content ul{
        font-size: large;
}



/*******************************************************************************
* 代码区域以及代码颜色
*
*******************************************************************************/
/* 用 `` 包裹住的往往都是在一个文字段落里中出现。不要让这个样式影响到整个代码块的样式

  注意，还有可能在列表里出现(比如download页面中提到的的yard)
*/
p code, li code{
        /* 采用Jekyll doc 配色：白字黑底 */
        color: #fff;
        background-color: #272727;

        font-size: 12px;
        padding: 5px;
        border-radius: 5px;
        margin: 0 2px;

        /* <code>对齐到<p>中其他文字 */
        vertical-align: text-bottom;
}


/* 所有代码块区域为: figure.highlight
   (1) 首页intro的代码块
   (2) 文章内的代码块

   所有的figure我们都使用.highlight，以防止污染所有figure

   但是，我们下面大部分使用的是<figure>下面的<pre>，而不是直接对<figure>操作
*/


/* 代码区域

   figure下面的pre，正是我们加环境色的地方，如黑色的代码背景
*/
figure.highlight pre{
        padding: 10px; /* 周围黑色区域大小 */
        background-color: #272727;

        border: 1px solid #dddddd;
        border-radius: 8px;

        /* 代码超越后，显示滚动栏 */
        max-width: 100%;
        overflow-x: auto;

        /*
        不想要这个box-shadow
        box-shadow: inset 0 1px 10px rgb(0 0 0 / 30%), 0 1px 0 rgb(255 255 255 / 10%), 0 -1px 0 rgb(0 0 0 / 50%);
        */
}

/* Ref: https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar

   Edge控制scrollbar
*/

/* TODO:
        Expected: 鼠标停留在这个区域时，滚动鼠标滚轮应该可以滑动这个小滚动条
        Actual:   滚动鼠标滑轮滑的是整个页面
*/
figure.highlight pre::-webkit-scrollbar {
        border-radius: 8px; /* track的边框，与上面的代码区域的边框应当保持一致 */
        width:   3px; /* 这个值在水平的滚动栏中似乎完全没用 */
        height: 11px; /* track的高度 */
        background-color: #f8f0d6; /* or add it to the track */
}
/* 这个就是scrollbar我们看到的可以上下滑动的handle */
figure.highlight pre::-webkit-scrollbar-thumb {
        border-radius: 8px; /* handle的边框 */
        background: #f47287;
}


/* 这个不能放在上面的pre里，必须像这样全部写道span才能定位出来，这也说明了父类的属性不能传递到子元素中 */
figure.highlight pre code span{
        font-size: 15px;
}

/* 文章内代码区域 */
.post-content figure.highlight {
        /* 用户代理(浏览器)样式会把这个设置为40px，会使得整个代码区域前面像是有一个缩进 */
        margin-left: 10px;
}
.post-content figure.highlight pre{
        margin: 0;
        /* 注意，这个宽度，是根据我们当前已有文章(rbenv for Windows)的最长命令来设定的，所以以后遇到更长的命令，可能需要依然调整这里。
           主要的原因就是我们的代码不会自动换行！或者我们把该值确定下来，再也不修改，以后的代码自动的按需手动换行。
           但是我们在最前面加了一个 overflow-x 后就可以有滚动栏了，这也是一种方法。此时，我们的宽度就可以随意更改了。
        */
        width: 780px;
}

/* 首页代码区域

   前置了一个intro-code-example类，就是为了防止干扰到posts里的figure

   注意，这里定义的不是<pre>，而是<figure>，没有特殊的原因，只是发现这样可以达到同样的效果
*/
.intro-code-example figure.highlight {
        margin: 0;
        width: 330px;
}




/*******************************************************************************
* 网站全局导航栏navbar部分，也就是 _includes/header.html
*
*******************************************************************************/
/* header的链接导航 */
ul#navbar {
        width:  400px;
        /* 设置为与header一致 */
        height: inherit;

        list-style: none;
        /* 导航栏链接位置 */
        margin: auto 56px;
        /* 导航栏链接字体  */
        font: bold 16px/1.5 Arial, Helvetica, sans-serif;
}
ul#navbar li {
        margin: 0 6px;
        list-style: none;
        float:left;
        /*
        用height而不是line-height
        line-height: inherit;
        */
        height: inherit;
}

/* 导航栏链接元素 */
ul#navbar li a, ul#navbar li span {
        /*
          使用transform来调整来链接到导航栏的中间，而不是通过margin
          这种情况下，必须有
                1. display: block 或
                2. display: flex
                3. display: grid
                4. display: inline-block 等等才能显式正确
                不加，或者使用inline等显式不正确
        */
        /* font-size: 15px; */
        display:   block;
        transform: translateY(95%);
        color:     #404040;       /* 导航栏链接颜色 */
        padding:   0 10px 0 10px;
}

ul#navbar li#active a {
        /* text-decoration: underline; */
        /*  border-bottom:   3px solid white; */

        /* 不需要加下滑线了 */
        color: rgb(234 179 8);

        /* background:url("../images/menu_active_left.png") no-repeat left center; */
}

/* 整个li元素被hover时，a元素的样式。而不是之前的的a元素被hover时 */
ul#navbar li:hover a{
        /* 默认会有一个下划线，所以这里强制取消 */
        text-decoration: none;
        color: rgb(234 179 8);
}

ul#navbar li:hover::after{
        content: ""; /* This is necessary for the pseudo element to work. */
        display: block; /* This will put the pseudo element on its own line. */
        margin: 0 auto; /* This will center the border. */
        /* 下划线的宽度 */
        width: 100%; /* Change this to whatever width you want. */
        padding-top: 36px; /* This creates some space between the element and the border. */
        border-bottom: 5.5px solid rgb(234 179 8); /* This creates the border. Replace black with whatever color you want. */
}



/* TODO: 这个Cufon是干什么用的 */
.cufon-active #navbar li a { /* for Cufon.replace('h1') */
        font-size: 20px;
        text-decoration: none;
        padding: 0 12px 0 12px;
}

.cufon-active #navbar li{ /* for Cufon.replace('h1') */
        font-size: 20px;
}

.cufon-active h2 { /* for Cufon.replace('h1') */
        font-size: 27px;
}

/*******************************************************************************
* introduction 部分，也就是intro.html
*
* 分为左右两侧，左侧是文字介绍，右侧是代码示例
* 左侧:
*   (1) intro-p1:     介绍Ruby
*   (2) h1:           大标题
*   (3) intro-p2:     介绍RubyInstaller
*   (4) download_btn: 下载按钮
*
*******************************************************************************/
div#intro-container {
        /* height: 263px; */
        /* width: 1150px; */

        /*
        background-image: url(../images/bg.png);
        background-repeat: round;
        background-size: 100px;
        */

        background-image: linear-gradient(to bottom right, #f6f0d1, #f5f5f5);;
}

div#intro-container h1 {
        font-family: Arial, sans-serif;
        /* TODO: 这里应该把字体大小设置为变量 */
        font-size: 44px;
        font-weight: bold;
        margin: 0px 0 20px 0px;
        text-shadow: #ffffff 0px 1px 0px;
}

div#intro-container a {
        text-decoration: none;
}

/* 第一段介绍文字 */
#intro-p1 {
        font-size: 16px;
        margin: 22px 0px 35px 0px;
}
/* 第二段介绍文字 */
#intro-p2 {
        font-size: 17px;
        margin: 35px 0px 10px 0px;
}

div#intro p {
        text-shadow: #ffffff 0px 1px 0px;

        color: rgb(115 115 115);
        width: 570px;
}

div#intro h1 {
        color: #404040;
}

/* 标题中的其他两个元素 */
#ruby-in-intro {
        color: #9283f0;
        font-size: 44px;
}

#best-way-in-intro {
        font-size: 44px;
        text-decoration-style: wavy;
        text-decoration-color: #eab308!important;
        text-decoration-line: underline!important;
        /* 下划线偏移量 */
        text-underline-offset: 10px;
}

/* 首页中的下载按钮 */
div#download_btn span {
        font-size: 22px;
        font-weight:bold;
        line-height: 3.7;  /* 调整相对于<a>上边沿的距离 */
        color: #ff9d49;  /* 鞭炮爆竹色 */
}

div#download_btn a, div#download_btn a:link, div#download_btn a:visited {
        /*
        其实下载按钮居中可能还没有放到旁边好看，所以注释掉
        margin-left: 260px;
        */
        float: left;
        text-align: center;
        text-decoration: none;
        display: block;
        width: 229px;
        height: 85px;
        background:url("../images/download_btn.png") repeat-x 0 0;
        cursor: pointer;
}
div#download_btn a:hover {
        color: #fff;
        background:url("../images/download_btn.png") repeat-x 0 -85px;
}

div#download_btn a:active {
        margin-top: 1px;
}


/*******************************************************************************
* 新闻/关于页面的侧边导航栏
*
*******************************************************************************/
ul#sidenavbar {
        list-style: none;
        font-size: 16px;
        margin:0;
        padding: 1px 0 0 0;
        background:url(../images/line_submenu.png) top right no-repeat;
}
ul#sidenavbar li {
        height: 35px;
        padding-left: 30px;
        background:url(../images/line_submenu.png) bottom right no-repeat;
        line-height: 2.0;
}

ul#sidenavbar li:hover {
        cursor: pointer;
}

ul#sidenavbar li.current {
        background-color: #ebd79c;
}
/* 当前选中的链接 */
ul#sidenavbar span {
        background:url("../images/bullet.png") no-repeat 0 -18px;
        padding-left: 20px;
}
/* 当前未选中的链接 */
ul#sidenavbar a {
        background:url("../images/bullet.png") no-repeat 0 2px;
        padding-left: 20px;
}
ul#sidenavbar a:hover {
        background:url("../images/bullet.png") no-repeat 0 -18px;
}


/*******************************************************************************
* 新闻页面
*
*******************************************************************************/
article h1 {
        font-size: 32px;
        width: 750px;
        margin: 0 0 14px 0;
        /* border-bottom: 1px solid #cccccc; */
}

article .post-metadata {
        /* text-align: right; */
        color: #848383;
}

article .post-header span {
        font-size: 15px;
        display: block;
}

article h2 {
        font-family: "Microsoft YaHei", Arial, sans-serif;
        font-size: 22px;
        margin: 0 0 14px 0;
        border-bottom: 1px solid #cccccc;
}

article h3 {
        text-transform: uppercase;
        font-size: 18px;
}

article h4 {font-size:1.2em;font-weight: bold; }


/*******************************************************************************
* TODO: 待分类
*
*******************************************************************************/
div.news_item {
        padding: 0 20px 20px 0;
}
div.news_item h3 {
        font: 17px/1.5 Arial, Helvetica, sans-serif;
        text-transform:none;
        font-weight: bold;
        color: #960407;
        text-decoration: none;
        margin: 0 0 .25em 0;
}
div.news_item span.date,

div.news_item a.more {
        background:url("../images/bullet.png") no-repeat 0 0px;
        padding-left: 20px;
        padding-bottom: 1px;
}
div.news_item a:hover.more {
        background:url("../images/bullet.png") no-repeat 0 -20px;
}


/*******************************************************************************
* footer页脚部分
*
*******************************************************************************/
div#footer {
        border-top: 1px solid #ccc;
        padding-top: 5px;
        padding-bottom: 2px;
}
div#footer ul, div#footer ul li {
        list-style: none;
        padding:0;
        margin: 0;
}
div#footer a, div#footer a:visited {
        color: #b01401;
        /* color: #848383; */
        text-decoration: underline;
}
div#footer a:hover {
        color: #dd001b;
        text-decoration: underline;
}
div#copyright {
        font-size: medium;
        color: #848383;
        text-align: right;
}

div#footer a.edit {
        background:url("../images/document-edit.png") no-repeat bottom left;
        padding-left: 20px;
}

/*******************************************************************************
* Download下载区域
*
*******************************************************************************/
#download #download-content {
        padding: 32px 0 20px 40px;
        width: 94%;
}

#download #download-content h2 {
        font-size: 22px; /* 与 article h2 保持一致 */
        border-bottom:1px solid #CCC;
        margin-bottom:20px;
}

#download #download-content h3 {
        font-size: 18px; /* 与 article h3 保持一致 */
        margin-top: 30px;
        margin-bottom:20px;
}

#download #download-links li { line-height:2em; }

a#archive { float:right; }
a#archive:hover { text-decoration:none; }
a#archive:after { content:"\BB"; }

li.ridk_exe, li.rubyinstaller_exe {
        /* list-style-image:url("../images/exe_16x16.png");  */
        /* list-style-image:url("../images/material-icon-theme-ruby.svg"); */
        /* 取消li的小图标 */
        list-style: none;
        /* 上右下左 */
        padding: 3px 0 3px 30px;
        background-image: url("../images/material-icon-theme-ruby.svg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
        list-style-position:inside;
}

li.chksum {
  list-style-image:url("../images/chksum_16x16.png");
  list-style-position:inside;
}

a.downloadlink {
  display: inline-block;
  min-width: 150px;
}

a.download-recommended {
  font-weight: bold;
}
a.download-recommended:before { content: "=> "; }

a.downloadinfo { padding-left: 10px; }
a.downloadinfo:after { content: "\2261"; }
a.downloadinfo.active:after { content: "\2297"; vertical-align: text-bottom; }
a.downloadinfo:hover { text-decoration: none; }

ul.downloadinfo {
  list-style-image:none;
  display: none;
  margin-bottom: 12px;
}


.buttonbox {
  box-sizing: border-box;
  border-radius: 3px;
  vertical-align: middle;
}


/*
下面这段代码修改自:

    http://www.staticfile.org/

*/
#GotCopied-PopUp {

  display: none;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25), 0 0 6px 0 rgba(0, 0, 0, .1);
  min-width: 160px;
  padding: 10px 12px;
  box-sizing: border-box;
  border-radius: 2px;

  /* 固定位置在最中间上面 */
  position: fixed;
  left: 50%;
  top: 8%;

/* I think there's no need to transform or transition
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  -webkit-transition: opacity .3s, -webkit-transform .4s;
  transition: opacity .3s, -webkit-transform .4s;
  transition: opacity .3s, transform .4s;
  transition: opacity .3s, transform .4s, -webkit-transform .4s;
*/

  background-color: #fff;
  overflow: hidden;
  z-index: 2000;
}

#GotCopied-PopUp-Message {
  margin-left: 36px;
  font-size:   16px;
  line-height: 20px;
  white-space: nowrap;
  color: #777;
  text-align: center;
}

#GotCopied-PopUp img {
  width:  40px;
  height: 40px;
  /* 这个是最关键的样式 */
  position: absolute;
  left: 0;
  top: 0;
}


button.js-copybtn {
  background:url("../images/copy_clipboard.svg");
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 3px 10px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid rgba(27,31,35,0.2);
}
input.js-copytextinput {
  box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
  padding: 6px 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 20px;
  display: table-cell;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  min-height: 28px;
  border: 1px solid #d1d5da;
}


/*******************************************************************************
* 关于页面
*
*******************************************************************************/
#about_cn_contributors ~ ul {
  margin-left: 10px;
}

#about_cn_contributors ~ ul img.avatar {
  vertical-align: middle;  /* 如果是百分数，则是基于 text-bottom */
  border-radius:     50%;  /* rounded images */
}

#about_cn_contributors ~ ul li {

  line-height: 70px;
}

#about_cn_contributors ~ ul li::marker {
  color: #0e6fc9;
  content: "";      /* 不添加也挺好的 */
}
